/* HEADER */
.header-bar {
  background-color: gray;
  padding: 2rem;
}

/* GIF BUTTONS */

.gif-btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  margin: 1rem;
}

.button-box {
  display: block;
  background-color: gray;
}

.button-search {
  display: block;
  background-color: lightgray;
}

input {
  padding: 1rem;
  font-size: 1.4rem;
}

/* GIF BOX */

img {
  width: 500px;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.gif-box p {
  text-align: center;
  padding: 0.4rem;
  text-transform: uppercase;
}

.gif-div {
  background-color: pink;
  width: 500px;
  margin: 0 auto;
}
